.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.login-form {
    width: 600px;
    height: 100vh;
    padding: 1rem 2rem;
    background-color: var(--white-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-right: 1px dashed var(--dark-color);
    border-left: 1px dashed var(--dark-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}


.login-form-content {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.decorate-login-lines {
    position: absolute;
    border-top: 1px dashed var(--dark-color);
    width: 100%;
    top: 5rem;
}

.decorate-login-lines-bottom {
    position: absolute;
    position: absolute;
    border-top: 1px dashed var(--dark-color);
    width: 100%;
    bottom: 5rem;
}

.login-form-fields {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1rem;
}

.login-form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.login-form-field label {
    margin-bottom: 0.5rem;
    font-size: var(--font-size-medium);
    color: var(--dark-color);
}

.login-form-field input {
    padding: .6rem 1rem;
    border: 1px solid transparent;
    background-color: var(--background-color);
    border-radius: var(--border-radius);
    font-size: var(--font-size-medium);
    color: var(--dark-color);
    font-family: 'Onest', Helvetica, Arial, sans-serif;
    transition: background-color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease; 
}

.login-form-field input:focus {
    background-color: rgba(200, 200, 255, 0.7);
    outline: none;
    border: 1px solid #6a7bff;
    box-shadow: 0 0 5px rgba(106, 123, 255, 0.5);
}

