.authenticated-layout {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.authenticated-layout_content {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}