:root {
  font-family: "Onest", Helvetica, Arial, sans-serif;
  font-weight: 400;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


  /* Variables para los componentes */
  --primary-color: #272727;
  --secondary-color: #50e3c2;
  --tertiary-color: #f5a623;
  --danger-color: #d0021b;
  --success-color: #7ed321;
  --warning-color: #f8e71c;
  --info-color: #4a90e2;
  --light-color: #f5f5f5;
  --dark-color: #4a4a4a;
  --white-color: #ffffff;
  --black-color: #000000;
  --font-size-small: 0.5rem;
  --font-size-medium: 1rem;
  --font-size-large: 1.25rem;
  --font-size-xlarge: 1.5rem;
  --font-size-xxlarge: 2rem;
  --font-size-xxlarge: 2.5rem;
  --font-size-xxlarge: 3rem;
  --font-size-xxlarge: 4rem;
  --font-size-xxlarge: 5rem;
  --font-size-xxlarge: 6rem;
  --font-size-xxlarge: 7rem;
  --font-size-xxlarge: 8rem;
  --font-size-xxlarge: 9rem;
  --font-size-xxlarge: 10rem;
  --border-radius: 1rem;
  --border-radius-large: 1.1rem;
  --border-radius-extra-large: 2rem;
  --default-gap: .8rem;
  --background-color: rgba(224, 224, 224, 0.5);
  --background-modal-color: #fffefe;
  --border-primary-color: rgba(201, 201, 201, 0.5);
  --color-error: rgb(255, 103, 103);
  --padding-default: 1rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

button {
    font-family: 'Onest', Helvetica, Arial, sans-serif;
}

input {
  background: var(--background-color); 
}

/* Loading indicator */

.loading-spin {
  width: 20px;
  height: 20px;

  border-radius: 50%;
  border: 1px solid var(--dark-color);
  border-top: 1px solid transparent;
  animation: spin .6s linear infinite;
  margin-bottom: 1rem;
}

@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

/* Loading indicator */
